@import '../../global.scss';

.icon {
    @extend %tplFlex;
    width: 100%;
    padding: 10px;
    min-height: 40px;
    background: none;
    border: none;
    outline: none;
    color: $lightColor;
    text-transform: uppercase;
    cursor: pointer;
    @include tplTranslate(opacity);

    &:hover {
        opacity: 0.8;
    }
}
